/* Basic declarations */

body { 
	font-family: Arial, sans-serif;
	background-color: #fff; 
	color: #505050; 
}

a {
	color: #505050;
	text-decoration: none;
}

#header {
	background-color: #CFCFCF;
	height: 70px;
}

#logo {
	width: 200px;
	float: left;
}

#search {
	float: right;
	right: 50px;
	width: 220px;
}

#user_panel{
	position:absolute;
	right: 400px;
	width: 150px;
}
